body {
	text-align: center;
	background: #333;
	font-family: 'Raleway', sans-serif;

}

header {
	background: beige;
}

.form-control {
	padding: 10px 10px;
	margin: 5px 5px;
	width: 400px;
	text-align: center;
	display: inline-block;
	text-align: center;
}
#login-button {
	width: 76.31px;
	display: inline-block;
	text-align: center;
}
#log-option {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 76.31px;
	display: inline-block;
	text-align: center;
}

.topnav {
	background-color: #333;
	overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

